@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <h1>Formulario simple</h1>
    <input type="text" name="param1" placeholder="param1" />
    <input type="submit" value="Enviar" />
</form>
<hr />
<form method="post">
    <h1>Formulario persona</h1>
    <input asp-for="@Model.Persona.Id" placeholder="Id" />
    <input asp-for="@Model.Persona.Nombre" placeholder="Nombre" />
    <input type="submit" value="Enviar" asp-page-handler="Persona" />
</form>
<hr />
<form method="post">
    <h1>Formulario persona y ciudad</h1>
    <input asp-for="@Model.Persona.Id" placeholder="Id" />
    <input asp-for="@Model.Persona.Nombre" placeholder="Nombre" />
    <br />
    <h1>Ciudad</h1>
    <input asp-for="@Model.Ciudad.Id" placeholder="Id" />
    <input asp-for="@Model.Ciudad.Nombre" placeholder="Nombre" />
    <input asp-for="@Model.Ciudad.Pais" placeholder="Pais" />

    <input type="submit" value="Enviar" asp-page-handler="PersonaCiudad" />
</form>